name: unittest
on: push

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version : '3.9'
      - name: Run unittests
      - run: python39 -m unittest test
